body {
	font-family: $sans;
}

.background-cover {
	background-color: $gray1;
}

// Headings
h4.widget-top
.page-title,
.entry-title {
	font-family: $stencil, $oswald, $sans;
	// a {
	// 	font-family: $sans;
	// }
}

h4.widget-top {
	margin-top: 0;
	text-transform: uppercase;
}

.entry {
	h1,
	h2,
	h3 {
		font-family: $oswald;
	}
}

header  {
	background: $black;
	box-shadow: none;
}

h2#site-title a,
h1.logo a {
	color: $white;
	text-transform: uppercase;
}

.logo span  {
	color: $white;
}

.post-footer {
	margin-bottom: 0;
	// padding-bottom: 0 !important;
}

#load-more:link,
#load-more:visited  {
	background: $black;
	box-shadow: none;
	border-radius: 0;
	color: $white;
	text-transform: uppercase;
} 

footer,
.footer-bottom  {
	background: $black;
	a {
		color: $white !important;;
	}
}



